{% extends "base.html" %}

{% block content %}

    <h2>User Login</h2>

    <form method="post">

        <table>
            <tr>
                <td class="label">Username</td>
                <td>
                    <input type="login" name="username" value="{{username}}">
                </td>
                <td class="error">{{error_username}}</td>
            </tr>

            <tr>
                <td class="label">Password</td>
                <td>
                    <input type="password" name="password" value="">
                </td>
                <td class="error">{{error_password}}</td>
            </tr>
        </table>

        <br>
        <input type="submit">
        <input type="hidden" name="next_url" value="{{next_url}}">
        <input type="button" value="Cancel" onClick="history.go(-1);return true;">

    </form>

{% endblock %}
